<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, excepturi. Id dolorem eaque nesciunt eveniet ratione ipsa, est quod? Delectus nisi nostrum laborum facilis voluptate, inventore, enim nobis laboriosam nulla tempora in autem provident ratione mollitia explicabo quae, atque adipisci iure cumque laudantium ea reiciendis sint iusto. Ducimus, alias minus!</p>
</body>
</html>